/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.left {
  padding-left: 20px;
}
.desc {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
